* {
    font-family: 'Roboto Mono', monospace;
    color: #007acc;
}
body {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#calculator {
    width: 450px;
    padding: 16px;
    background: #aaa;
}

#inner-calculator {
    width: 100%;
}

div#display {
    background-color: #eee;
    width: 100%;
    min-height: 118px;
    display: flex;
    flex-direction: column;
}

div#curr,
div#prev {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: right;
    word-wrap: break-word;
    word-break: break-all;
    /* direction: rtl; */
}

div#curr {
    flex:3;
    font-size: 36px;
}

div#prev {
    flex:2;
    font-size: 24px;
}

div#buttons {
    padding-top: 10px;
    width: 100%;
}

#buttons div {
    display:flex;
}

#buttons {
    display: inline-block;
}

#buttons button {
    height: 90px;
    flex: 1;
    display: inline-block
}

button#equal {
    flex: 2;
}

div#a {
    width: 50%;
}
div#b {
    width: 50%;
}


#footer img {
    width: 20px;
    height: auto;
    display: flex;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555555;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


